*{
    font-family: none;
    margin: 0px;
}
header {
    position: sticky;
    top: 0;
    background-color: black;
    height: 80px;
    color: white;
}
.fadeIn {
    visibility: visible;
    opacity: 1;
    transition: visibility 0.3s, opacity 0.3s linear;
} ///This is connected to the navbar (header)
.fadeOut {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0.3s, opacity 0.3s linear;
}
.navbar {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 80px;
}
#aboutUs {
    cursor: pointer;
}
#name {
    font-size: 2.5em;
}
#store {
    cursor: pointer;
}
footer {
    position: absolute;
    bottom: -1;
    background-color: rgb(129, 184, 247);
    height: 70px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    font-size: 2.2em;
}
.fa-brands.fa-facebook {
    cursor: pointer;
}
.fa-brands.fa-square-x-twitter {
    cursor: pointer;
}
.fa-brands.fa-instagram {
    cursor: pointer;
}
.fa-regular.fa-envelope{
    cursor: pointer;
}