*{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0px;
}
body {
  display: flex; // everything is a flexbox
  flex-direction: column;
  height: 100vh;
}
header {
    position: sticky;
    top: 0;
    background-color: #0B2447;
    height: 80px;
    color: white;
}
.fadeIn {
    visibility: visible;
    opacity: 1;
    transition: visibility 0.3s, opacity 0.3s linear;
} ///This is connected to the navbar (header)
.fadeOut {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0.3s, opacity 0.3s linear;
} ///This is connected to the navbar (header)
.navbar {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 80px;
}
#aboutUs {
    cursor: pointer;
}
#name {
    font-size: 2.5em;
}
#store {
    cursor: pointer;
}
main {
    display: flex;
    flex-direction: column;
  
    #adress {
      min-height: 30vh;
      display:flex;
      flex-direction: column;
      background: url(images/rafael-pease-header.jpg);
      background-repeat: no-repeat;
      background-position: center;
      background-size:cover;
      background-color: #f0f0f0;
      padding: 10px;
      align-items: center;
      color:#0B2447;
      text-shadow: rgb(164, 166, 175) 1px 0 1px;
      text-align: center;


        p.hugetext {
          margin-top: auto;
          font-size: 6rem;
        }
        p.address {
          margin-top: auto;
          font-size: 2rem;
        }
    }
    
  
    .productContainer {
      flex-direction: row;
      align-content: center;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      margin-top: 20px;
  
      .productBox {
        margin-bottom: 20px;
        padding: 15px;
        border: 1px solid #ccc;
        border-radius: 8px;
        //box-shadow: 5px 5px 2px 1px #d8e3e46b;^
        box-shadow: 6px 5px 18px 1px rgba(189,188,188,0.59);
        img {
          max-height: 33vh;
          max-width: 100%;
          border-radius: 4px;
          margin-bottom: 10px;
        }
        h2 {
            text-align: center;
            font-size: 18px;
          color: #333;
        }
      }
    }
  }
  
footer {
  margin-top: auto;
  bottom: -1;
  background-color: #A5D7E8;
  height: 70px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer {
  display: flex;
  justify-content: center;
  width: 100%;
  font-size: 2.2em;
}
.fa-brands.fa-facebook {
  cursor: pointer;
  margin-right: 40px;
}
.fa-brands.fa-square-x-twitter {
  cursor: pointer;
  margin-right: 40px;
}
.fa-brands.fa-instagram {
  cursor: pointer;
  margin-right: 40px;
}
.fa-regular.fa-envelope {
  cursor: pointer;
}
