*{
    font-family: none;
    margin: 0px;
}
header {
    position: sticky;
    top: 0;
    background-color: black;
    height: 80px;
    color: white;
}
.fadeIn {
    visibility: visible;
    opacity: 1;
    transition: visibility 0.3s, opacity 0.3s linear;
} ///This is connected to the navbar (header)
.fadeOut {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0.3s, opacity 0.3s linear;
} ///This is connected to the navbar (header)
.navbar {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 80px;
}
#aboutUs {
    cursor: pointer;
}
#name {
    font-size: 2.5em;
    cursor: pointer;
}
#store {
    cursor: pointer;
}
main {
    display: flex;
    flex-direction: column;
    height: 80vh;
  
    #adress {
      background-color: #f0f0f0;
      padding: 10px;
      text-align: center;
    }
  
    .productContainer {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      margin-top: 20px;
  
      .productBox {
        width: 20%;
        margin-bottom: 20px;
        padding: 15px;
        border: 1px solid #ccc;
        border-radius: 8px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  
        img {
          max-width: 100%;
          height: auto;
          border-radius: 4px;
          margin-bottom: 10px;
        }
        h2 {
            text-align: center;
            font-size: 18px;
          color: #333;
        }
      }
    }
  }
  
footer {
  position: absolute;
  bottom: -1;
  background-color: rgb(129, 184, 247);
  height: 70px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer {
  display: flex;
  justify-content: center;
  width: 100%;
  font-size: 2.2em;
}
.fa-brands.fa-facebook {
  cursor: pointer;
  margin-right: 40px;
}
.fa-brands.fa-square-x-twitter {
  cursor: pointer;
  margin-right: 40px;
}
.fa-brands.fa-instagram {
  cursor: pointer;
  margin-right: 40px;
}
.fa-regular.fa-envelope {
  cursor: pointer;
}
